/* RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html{
	width: 100%;
	height: 100%;
}
body{
	width: 100%;
	height: 100%;
}

/* BUTTON */
button{
	outline: none;
	border: none;
	font-family: 'Montserrat';
	font-size: 20px;
	border-radius: 30px;
	padding: 15px;
}

/* HEADER */

header{
    height: 100px;
    width: 100%;
    background-color: rgb(231, 231, 231);
	display: flex;
	align-items: center;
	justify-content: center;
}
.logo{
	height: 100%;
}
.logo>img{
	height: 100%;
}

/* BANNER */

.banner{
	display: flex;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 0 220px;
	flex-direction: column;
	height: 80%;
	width: 100%;
	background-color: #FFDE59;
	align-items: flex-end;
	position: relative;
	justify-content: center;
	overflow: hidden;
	gap: 40px;
}

.dog{
	position: absolute;
	bottom: 0;
	left: 15%;
	height: 85%;
	z-index: 1;
}

.blob{
	position: absolute;
	transform: scale(1.9);
	right: 250px;
	z-index: 0;
}

.traces{
	position: absolute;
	transform: rotate(-20deg);
	bottom: 65%;
	left: 15%;
	height: 35%;
}
.text-banner{
	max-width: 440px;
	z-index: 2;
	margin-right: 100px;
	font-family: 'Fredoka One', cursive;
	color: white;
	font-size: 50px;
}

.highlight{
	color: #FFDE59;
}

.banner>button{
	z-index: 2;
	color: white;
	background-color: #FFCD1B;
	margin-right: 110px;
}