@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;700;900&display=swap');

/* RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

:root{
	--color1: #FFFFFF;
	--color2: #FFDE59;
	--color3: #FFCD1B;
	--color4: #B1DBEE;
	--color5: #4AACD8;
	--color6: #525252;
	--color7: #9c9c9c;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html{
	width: 100%;
	height: 100%;
}
body{
	width: 100%;
	height: 100%;
}

/* BUTTON */
button{
	outline: none;
	border: none;
	font-family: 'Montserrat';
	font-size: 20px;
	font-weight: bolder;
	border-radius: 30px;
	padding: 15px;
}

/* HEADER */

header{
    height: 100px;
    width: 100%;
    background-color: var(--color1);
	display: flex;
	align-items: center;
	justify-content: center;
}
.logo{
	height: 100%;
}
.logo>img{
	height: 100%;
}

/* BANNER */

.banner{
	display: flex;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 0 220px;
	flex-direction: column;
	height: 80%;
	width: 100%;
	background-color: #FFDE59;
	align-items: flex-end;
	position: relative;
	justify-content: center;
	overflow: hidden;
	gap: 40px;
}

.dog{
	position: absolute;
	bottom: 0;
	left: 15%;
	height: 85%;
	z-index: 1;
}

.blob{
	position: absolute;
	transform: scale(2);
	right: 30%;
	z-index: 0;
}

.traces{
	position: absolute;
	transform: rotate(-20deg);
	bottom: 65%;
	left: 15%;
	height: 35%;
	z-index: 2;
}
.text-banner{
	max-width: 440px;
	z-index: 2;
	margin-right: 25%;
	font-family: 'Fredoka One', cursive;
	color: white;
	font-size: 50px;
}

.highlight{
	color: #FFDE59;
}

.banner>button{
	z-index: 2;
	color: white;
	background-color: #FFCD1B;
	margin-right: 25%;
	width: max-content
}


/* ---CARDS--- */

.container-cards{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 5rem;
	justify-content: center;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.course-selection{
	display: flex;
	flex-direction: column;
	align-items: center;

}

.course-selection > h1{
	font-family: 'Grandstander', sans-serif;
	font-size: 100px;
	color: var(--color5);
	padding: 5rem;
}

.card{
	width: 270px;
	height: 405px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: 5rem;
}
.card > img{
	width: 100%;
	height: 100%;
}
.card > h1{
	font-family: 'Fredoka One', cursive;
	font-size: 32px;
	color: white;
	margin-top: 20px;
	margin-left: 30px;
}

.btn-card{
	display: none;
	outline: none;
	border: none;
	font-family: 'Montserrat';
	justify-content: center;
	width: 80%;
	font-size: 20px;
	border-radius: 30px;
	padding: 15px;
	background-color: #4AACD8;
	color: var(--color1);
	text-transform: uppercase;
	letter-spacing: 2px;
	margin: 0 auto;
    cursor: pointer;
	margin-bottom: 30px;
}

.card:hover{
	
    transition: opacity .3s ease-out;
    -moz-transition: opacity .3s ease-out;
    -webkit-transition: opacity .3s ease-out;
    -o-transition: opacity .3s ease-out;
}

.card:hover .btn-card{
	display: block;
}

/* RESPONSIVIDADE BANNER */

@media (max-width:1800px){
	.text-banner{
		max-width: 330px;
	}
  }

@media (max-width:1600px){
	.dog{
		left: 5%;
	}
	.traces{
		left: 5%;
	}
  }

@media (max-width:1400px){


  }
@media (max-width:500px){
	.banner{
		justify-content: flex-start;
		align-items: center;
		padding: 90px 20px;
	}
	.dog{
		left: auto;
		right: 25%;
		height: 40%;
	}
	.traces{
		opacity: 0;
	}
	.text-banner{
		margin-right: 0;
	}
	.banner>button{
		z-index: 2;
		color: white;
		background-color: #FFCD1B;
		margin-right: 0;
		width: max-content
	}

	.card{
		display: flex;
		flex-direction: column;
	}
  }

  @media (max-width:300px){
	.dog{
		opacity: 0;
	}
  }
/* --- COURSE --- */

.course{
	width: 100%;
	height: 100%;
	background-color: var(--color5);	
}

.course > img{
	width: 50%;
	position: absolute;
	right: 0;
}

.all-review{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.review{
	width: 100%;
	height: 100%;
	background-color: var(--color1);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.cards-review{
	width: 250px;
	height: 400px;
	background-color: var(--color1);
	border-left:0.5px solid #f7f7f7;
	border-radius: 25px;
	margin: 3rem;
	margin-top: 0rem;
	margin-bottom: 5rem;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	z-index: 0;
}

.cards-review-top{
	width: 100%;
	height: 25%;
	background-color: var(--color2);
	border-radius: 25px 25px 0 0;
	z-index: 1;
}

.cards-review .avatar > img{
	display: flex;
	margin: auto;
	margin-top: -4rem;
	width: 50%;
}

.cards-review .stars > img{
	display: flex;
	margin: auto;
	margin-top: 1rem;
	width: 35%;
}

.cards-review > h1{
	margin-top: 1rem;
	font-family: 'Fredoka One', sans-serif;
	font-size: 18px;
	color: var(--color6);
	text-transform: uppercase;
	text-align: center;
}

.cards-review > h2{
	font-family: 'Montserrat', sans-serif;
	font-size: 20;
	font-weight: 300;
	color: var(--color6);
	text-align: center;
}

.all-review > h1{
	font-family: 'Grandstander', sans-serif;
	font-size: 100px;
	color: var(--color5);
	margin: 3rem;
}